{% extends 'base.html.twig' %}

{% block title %}Crear nuevo usuario{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/styles.css')}}"/>
{% endblock %} 

{% block body %}


<div class="form">

    <div>
        <h3>Añadir nuevo usuario</h3>
    </div>
    <div class="box-form">
        {{form_start(addUserForm)}}

        {{form_end(addUserForm)}}    
    </div>
  

    {# <div class="row">
        {{ form_row(addUserForm.name)}}
    </div> #}


   
</div>



{% endblock %}